fastapi
uvicorn[standard]
celery
redis
setuptools
cmake
dlib==19.24.0
face_recognition
face_recognition_models
numpy==1.26.4
opencv-python-headless
ultralytics
shapely
requests
python-dotenv
python-multipart
pydantic
jinja2
aiofiles
scikit-image